@media all and (max-width: 1170px) {
  .header__content-wrap {
    width: 100% !important; } }

@media all and (max-width: 970px) {
  .header__content-wrap {
    flex-flow: column wrap !important; }
  .header__social-links {
    text-align: center !important; }
  .header__social-links, .header__navigation-top {
    width: 100% !important; }
  .header__navigation-top {
    text-align: center !important; } }

* {
  margin: 0;
  padding: 0;
  bottom: 0; }

html, body, .wrap {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #6d6e71; }

ul {
  list-style-type: none; }

a:link {
  color: #6d6e71;
  text-decoration: none; }

a:visited {
  color: #6d6e71; }

a:hover {
  color: #939497; }

a:active {
  color: #adaeb0; }

.header, .header__top-line, .header__content-wrap {
  width: 100%;
  margin: 0 auto; }

.header__top-line {
  background: #eceef4;
  min-height: 63px;
  line-height: 63px; }

.header__content-wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 1160px; }

.header__navigation-top {
  width: 50%;
  margin: 3px auto 0;
  text-align: left; }
  .header__navigation-top a {
    display: inline-block;
    height: 32px;
    width: 98px;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 32px;
    margin-right: 3px;
    border-radius: 5px;
    text-align: center; }

.header__social-links {
  width: 50%;
  text-align: right;
  font-size: 0;
  margin: 0 auto; }
  .header__social-links > a {
    height: 100%;
    line-height: 63px;
    font-size: 24px;
    display: inline-block;
    border-left: 1px #dee0e6 solid;
    width: 64px;
    text-align: center; }
  .header__social-links > a:last-child {
    border-right: 1px #dee0e6 solid; }
  .header__social-links .fa-facebook-square {
    color: #2b75b2; }
  .header__social-links .fa-twitter {
    color: #1faae2; }
  .header__social-links .fa-instagram {
    color: #26658e; }
  .header__social-links .fa-google-plus {
    color: #dd4070; }

.header__body {
  height: 217px;
  width: 100%;
  border-bottom: 1px solid #eceef4; }
