* {
  margin: 0;
  padding: 0;
  bottom: 0; }

html, body, .wrap {
  width: 100%;
  min-height: 100%;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #6d6e71; }

ul {
  list-style-type: none; }

a:link {
  color: #6d6e71;
  text-decoration: none; }

a:hover {
  color: #939497; }

a:visited {
  color: #939497; }

a:active {
  color: #adaeb0; }

.header, .header__top-line, .header__content-wrap {
  width: 100%;
  margin: 0 auto; }

.header__top-line {
  background: #eceef4;
  height: 63px;
  line-height: 63px; }

.header__content-wrap {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 1160px; }

.header__navigation-top, .header__social-links {
  width: 50%; }
  .header__navigation-top > ul, .header__social-links > ul {
    display: block;
    font-size: 0; }
    .header__navigation-top > ul > li, .header__social-links > ul > li {
      font-size: 12px;
      font-weight: bold;
      background: #fff;
      display: inline-block;
      height: 32px;
      width: 98px;
      border-radius: 5px;
      text-align: center;
      line-height: 32px;
      margin-right: 3px; }
      .header__navigation-top > ul > li > a, .header__social-links > ul > li > a {
        display: block;
        width: 100%;
        height: 100%; }

.header__social-links {
  text-align: right;
  font-size: 0; }
  .header__social-links > a {
    font-size: 24px;
    display: inline-block;
    border-left: 1px #dee0e6 solid;
    width: 64px;
    text-align: center; }
  .header__social-links > a:last-child {
    border-right: 1px #dee0e6 solid; }
  .header__social-links .fa-facebook-square {
    color: #2b75b2; }
  .header__social-links .fa-twitter {
    color: #1faae2; }
  .header__social-links .fa-instagram {
    color: #26658e; }
  .header__social-links .fa-google-plus {
    color: #dd4070; }
